.ouroboros {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    text-align: center; /* Ensures text inside is centered */
}

@keyframes ouroborosFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ouroboros h1{
    font-family: Blackheat, sans-serif;
    color: #FF0000;
    font-size: 16vw;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
    line-height: 1; /* Ajout pour un meilleur espacement */
    margin: 40px 0 0 0;

    animation: ouroborosFadeIn 1s ease-out forwards;
}

.ouroboros p {
    font-family: OverusedGrotesk-Medium;
    font-size: 1.2vw;
    color: #E2E2E2;
    text-align: center; /* Center the text inside the paragraph */
    max-width: 80%; /* Optional: limit width for better readability */

    animation: ouroborosFadeIn 1s ease-out forwards;
}

.image {
     display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    text-align: center; /* Ensures text inside is centered */
}
.image img{
    width: 80vw;
    margin: 10px 0;
}

.image video{
    width: 80vw;
    margin: 10px 0;
}